<!DOCTYPE html>
<html lang="en">
<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="~/Content/Site.css" rel="stylesheet" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="~/Content/DataTables/css/jquery.dataTables.min.css" rel="stylesheet" />
</head>
<body>
    @Html.Partial("_Header")  
    <div class="container">
        @RenderBody()
    </div>
    <script src="~/scripts/jquery-3.3.1.min.js"></script>
    <script src="~/scripts/jquery.unobtrusive-ajax.js"></script>
    <script src="~/scripts/bootstrap.min.js"></script>
    <script src="~/scripts/custom.js"></script>
    <script src="~/scripts/bootbox.min.js"></script>
    <script src="~/scripts/DataTables/jquery.dataTables.min.js"></script>
    @RenderSection("Scripts",false)
    
</body>
</html>
